# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Environment variables
.env

# Virtual environment
venv/
env/
taskenv/

# Django stuff
db.sqlite3
*.log
staticfiles/
media/

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations (optional: remove if you want to track them)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
